@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.ON-style h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size:1.75em;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 9px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 1.1;
}
.ON-style h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:1.6em;
  color: #666666;
  padding-top: 12px;
  padding-bottom: 9px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-weight: 400;
  line-height: 1.1;
}
.ON-style h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:1.37em;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-weight: 700;
  line-height: 1.1;
}
.ON-style h4 {
  font-family: 'Open Sans', sans-serif;
  font-size:1.25em;
  color: #000000;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 1.1;
  font-weight: 300;
}
.ON-style h5 {
  font-family: 'Open Sans', sans-serif;
  font-size:1em;
  color: #929292;
  text-transform: uppercase;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 1.1;
  font-weight: 300;
}
.ON-style p {
  font-family: 'Open Sans', sans-serif;
  font-size:1em;
  color: #000000;
  margin: 0 0 9px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: .07em 0;
  line-height: 1.1;
  font-weight: 300;
}
.ON-style a, .ON-style a:link, .ON-style a:visited {
  font-family: 'Open Sans', sans-serif;
  font-size:1em;
  color: #000000;
  text-decoration: underline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 1.1;
  font-weight: 300;
}

.ON-style.promoDrawer__title {
    font-size: 1.1em;
    margin: 0 0 0 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 2px;
    padding: 3px 0 0 0;
}

.GAP-style.promoDrawer__title {
    font-size: 1.1em;
    margin: 0 0 0 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 2px;
    padding: 3px 0 0 0;
}

.ON-style.promoDrawer__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  margin: 0 3px 0 12px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
}

.ON-style.promoDrawer__handlebar {
    background-color: #ff3300;
}
